.social-btn(@color) when (iscolor(@color)) {
    &:disabled {
        background-color: lighten(@color, 20%);
    }
    &:hover, &:active {
        background-color: darken(@color, 10%);
    }
    background-color: @color;
    color: white;
}

.btn-messenger {
    .social-btn(#448AFF);
    & > svg {
        height: 1rem;
        padding-right: .4rem;
        vertical-align: middle;
        path {
            fill: white;
        }
    }
}

.btn-fb {
    .social-btn(#3b5998);
}
